:root{
    --chessbrown: royalblue;
    --chesswhite: white;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --headerfooter: rgb(37, 36, 36);
    --detailColor: rgb(43, 43, 43);
    --hoverColor: rgb(20, 20, 20);
    --greenButton: rgb(62, 213, 62);

    /*rgb(255, 200, 33)*/
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background-color: rgb(50, 48, 48);
    display: table;
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    display: flex;
    background-color: var(--headerfooter);
    width: 100vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 8vh;
    align-items: center;
    margin-bottom: 2%;
    gap: 1%;
}

footer{
    width: 100vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: fit-content;
    align-items: center;
    background-color: var(--headerfooter);
    display: table-row;
}

a{
    text-decoration: none;     
}

.riddleLink{
    font-size: 1.5rem;
}

.name{
    font-size: 0.8rem;
    margin-left: 2%;
}

.nameContainer{
    padding: 1%;
}

.siteName{
    font-size: 2rem;
    padding: 2%;
}

.Chessboard{
    width: 45vw;
    height: 45vw;
    border: 0.01em solid black;
}

table, tr, td {
    border: none;
    border-collapse: collapse;
}

.Chessboard th{
    width: 12.5%;
    height: 12.5%;
}

.piece{
    width: 80%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th{
    position: relative;
}

.black{
    background-color: var(--chessbrown);
}

.white{
    background-color: var(--chesswhite);
}

.dot {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 2.5vw;
    width: 2.5vw;
    background-color: lime;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin: auto;
  }

#longcastle,
#castle{
    background-color: darkgreen;
}

  .dot#back{
    background-color: transparent;
    border: red solid 0.15em;
  }

  .dot:hover,
  .piece:hover{
    cursor: pointer;
  }

  .riddleStatus,
  .isItCheck{
    font-size: 3rem;
    font-family: Arial;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
    background-color: var(--detailColor);
    margin-bottom: 1%;
    box-shadow: var(--shadow);
  }
  
  .riddleStatus{
    width: 98vw;
  }

  /*==================================GameDetails===================================*/

  .roleIndicator,
  .moveIndicator{
    height: 5vw;
    width: 5vw;
    background-color: white;
    border: black solid 0.01em;
    border-radius: 50%;
    display: inline-block;
  }

  .moveText{
    font-size: 1.6rem;
    margin-right: 1vw;
}

.move{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    box-shadow: var(--shadow);
    background-color: var(--headerfooter);
    padding: 3%;
    width: 80%;
    align-self: center;
}

.move#riddle{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    box-shadow: var(--shadow);
    background-color: var(--headerfooter);
    padding: 3%;
    width: 20vw;
    align-self: center;
}

.newRiddle{
    background-color: var(--greenButton);
    width: 60%;
    align-self: center;
    margin-top: auto;
    text-align: center;
    padding: 3%;
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.rules,
.matchDetails{
    background-color: var(--detailColor);
    margin-right: 1vw;
    margin-left: 1vw;
    width: 23vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    align-self: flex-start;
}

.matchDetails#riddle{
    width: 40vw;
    height: fit-content;
}

.rules{
    margin-left: 1vw;
    height: fit-content;
    align-self: flex-start;
}

.Title{
    align-self: center;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: var(--headerfooter);
}

.restartButton{
    width: 70%;
    font-size: 1.8rem;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 8%;
    background-color: var(--greenButton);
    border: none;
    padding: 3%;
}

.viewRules{
    margin-top: 20%;
    margin-bottom: 8%;
    background-color: var(--greenButton);
    border: none;
    padding: 3%;
    width: 70%;
    font-size: 1.8rem;
    align-self: center;
}

.content{
    align-self: center;
}

.textAndButtons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
    min-height: 30vh;
}

video{
    display: block;
    margin: 0 auto;
}

.demonstration{
    width: 16vw;
    height: 16vw;
    margin-bottom: 10%;
}

.description{
    text-align: center;
    padding-bottom: 5%;
    width: 60%;
    font-size: 1.1rem;
}

.ruleTitle{
    font-size: 1.3rem;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
}

.buttonLeft,
.buttonRight{
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttonBg{
    display: flex;
    margin: 0 auto;
    width: 3vw;
    height: 3vw;
    background-color: var(--headerfooter);
    box-shadow: var(--shadow);
    align-items: center;
}

.buttonBg:hover{
    cursor: pointer;
    background-color: var(--hoverColor);
}

.newRiddle:hover,
.viewRules:hover,
.restartButton:hover{
    cursor: pointer;
    background-color: rgb(31, 111, 31);
}

.displayContainer{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.promotingPieces{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-self: center;
    justify-content: space-evenly;
    margin-bottom: 15%;
    margin-top: 4%;
    padding: 5%;
    height: 30%;
    max-height: 30%;
    background-color: var(--headerfooter);
    box-shadow: var(--shadow);
}

.promotingPieces#riddle{
    width: 50%;
}

.promotion:hover{
    cursor: pointer;
    background-color: var(--hoverColor);
}


.eatenTitle,
.promotionTitle{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5%;
}

.eatenTitle{
    margin-bottom: 4%;
}

.whoAte{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.promotionTitle{
    margin-top: 15%;
}

.noPromotion{
    color: gray;
    font-size: large;
    text-align: center;
}

.promotion{
    max-width: 25%;
    height: auto;
    align-self: center;
}

.eatenPieces{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: flex-start;
    width: 80%;
    padding: 0;
    margin-bottom: 10%;
}

.eatenPieces img{
    margin: 0;
    width: 25%;
    height: auto;
    position: static;
}

.eatenPieces img:hover{
    cursor: default;
}

.eaten{
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: var(--headerfooter);
    box-shadow: var(--shadow);
}

.eatenContainer{
    display: flex;
    justify-content: space-evenly;
}